<!DOCTYPE html>
<html>
  <head>
    <title>UT2004 Stats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <h1>UT2004 Stats</h1>
    <h2>Stats summary</h2>
    <table>
      <tr>
	<th>Players</th>
	<th>Matches</th>
	<th>Kills</th>
	<th>Total score</th>
      </tr>
      <%= %Q{
      <tr>
        <td>#{db.players.select {|id,p| not p.bot?}.count}</td>
        <td>#{db.matches.count}</td>
	<td>#{db.kills.count}</td>
	<td>#{db.scores.values.sum}</td>
      </tr>}
      %>
    </table>
    <br />
    <i>Page generated at <%= Time.now %></i>
  </body>
</html>
